@import './header.css';
@import './main.css';
@import './boardNavbar.css';
@import './icons.css';
@import './cardBoard.css';
@import './media.css';


/* body{
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    color: #172b4d;
} */
